// Depends: _colours.scss

@import '//fonts.googleapis.com/css?family=Playfair+Display:400,400i';
@import 'https://fonts.googleapis.com/css?family=Raleway';

$face-body: Palatino, "Palatino Linotype", "Bookman Antiqua", Garamond, serif;
$face-headings: Raleway, "Century Gothic", Arial, sans-serif;
$face-display: "Playfair Display", Georgia, serif;

body {
  color: $colour-copy;
  font-family: $face-body;
  font-size: 100%;
  font-weight: normal;
}

p {
  font-size: 1.2rem;
  line-height: 1.4;
  margin: 1em 0;
}

a {
  color: $colour-link;
  text-decoration: none;
  &:hover {
    color: $colour-accent;
    border: none;
  }
}

%header-text {
  font-family: $face-headings;//$face-display;
  color: $colour-header;
  font-weight: normal;//bold;
  letter-spacing: 0.05em;
  margin: 2em 0 0.5em;
}

@each $header, $size in (h1: 1.75rem, h2: 1.5rem, h3: 1.3rem, h4: 1.15rem, h5: 1.0rem, h6: 0.9rem) {
  #{$header} {
    @extend %header-text;
    font-size: $size;
  }
}

// Post titles only
article header h2 {
  @extend %header-text;
  text-transform: uppercase;
  margin: .81em 0;
  border: none;
}

// Masthead
header#masthead {
  h1 { // 'Name of site' text
    border: none;
    font: italic normal 5rem $face-display;
    text-transform: none;
    letter-spacing: normal;
    a:hover {
      color:inherit; // Disable overlay highlight for masthead
    }
  }
  aside { // Tagline underneath logo
    font-size: 1.5rem;
    font-style: italic;
    color: $colour-meta;
  }
}

// Main navigation menu
nav {
  a {
    border-bottom: 1px dotted $colour-accent;
    font: normal 1rem $face-headings;
    letter-spacing: 0.1em;
    text-transform: none;
  }
}

// Code blocks and teletype
code, pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: #f5f8fa;
  font-size: 1rem;
}

pre {
  margin: 1em 0;
  padding: 1em;
  line-height: 1.3;
}

p>code { // In-line code only
  letter-spacing: -0.05em;
  /* Space in-line code apart from surrounding words
     (Inspired by GitHub's CSS) */
  &::before, &::after {
    content: "\00a0"; // = non-breaking space
  }
}

// Post date info at top of articles
article footer {
  display: inline-block;
  color: $colour-meta;
}

// Footer and copyright information
footer#footer {
  color: $colour-meta;
  text-transform: uppercase;
  font: normal 0.8rem $face-headings;
  letter-spacing: 0.05em;
}

// Superscripts and subscripts
sup, sub { font-size: smaller; }
sup { vertical-align: super; }
sub { vertical-align: sub; }

// Lists, lists of lists and lists of lists of lists
ol, ul {
  list-style-position: outside;
  margin-left: 1.5rem;
  font-size: 1.1rem;
}

ol {
  list-style-type: decimal;
  li { padding-left: .5rem; }
  ol { list-style-type: lower-alpha;
    ol { list-style-type: lower-roman;
    }
  }
}

ul {
  list-style-type: disc;
  li { padding-left: .3rem; }
  ul { list-style-type: square;
    ul { list-style-type: circle;
    }
  }
}

article>ol, article>ul {
  margin-left: 3rem;
  margin-right: 3rem;
}

li { line-height: 1.8; }
